
main {
    width: 100%;
}

.feed{
    display: flex;
    justify-content: center;
    padding: 5% 2%;

}

.feed_wrap {
    width: 68%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    justify-items: center;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid #ddd;
    padding: 3%;
    box-shadow:5px 5px 30px rgba(0, 0, 0, 0.3); ;
   
}
.feed_wrap > div {
    width: 100%;
    gap: 2%;
 }

 /* 피드 - 프로필 영역  */
.profile {
    display: flex;
    width: 100%;
    background-color: #fff;
    margin-bottom: 3%;
}
.profile .profile_img{
    width: 100px;
    height: 100px;
    background-color: #222;
    border-radius: 50px;
}
.profile .profile_img a{
    display: block;
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.profile .profile_info{
    padding: 20px 0;
    background-color: #ccc;
}
.profile .profile_info > div{
    gap: 1%;
}
.profile .profile_info .id{
    font-size: 1.2rem;
    font-weight: bold;
}

/* 이미지 영역 */
.photo {
    max-width: 100%;
    /* height: auto; */
    max-height: 640px;
    background-color: #fff;
    object-fit: cover ;
    overflow: hidden;
}

.photo_wrap img{
    width: 100%;

}

/* 뷰어 - 아이콘 영역 */
.icon{
   padding: 15px 0;
}
.icon_wrap{
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    display: flex;
    align-items: center;
}

/* 왼쪽 아이콘 */
.icon_wrap .left_icon {
    width: auto;
    background-color: #ccc;
    display: flex;
    gap: 18%;
    font-size: 2rem;
    color: #222;
    align-items: center;
    margin-left: 24px;
}

.icon_wrap .right_icon{
    width: auto;
    justify-content: center;
    font-size: 2rem;
    margin-right: 20px;
}

/* 피드 - 텍스트 영역 */
.feed_text{
    background-color: #fff;
    padding: 30px 20px;
}
.text_wrap {
    margin-bottom: 40px;
}

.text_wrap > div {
    margin-bottom: 30px;
    
}
.t_title h2 {
    font-size: 1.8rem;
}
.t_text p {
    font-size: 0.8rem;
}

/* 피드 - 태그 */
.t_tag {
    display: flex;
    align-items: center;
    gap: 1%;
}
.t_tag div {}
.t_tag div a {
    background-color: #ccc; 
    padding: 0.4rem 1rem;
    display: block;
    border-radius: 5px;

}
.t_tag div a:hover {
    background-color: #222;
    color: #fff;
}
.day {
    padding: 20px 0;
    display: inline-block;
}

.day span {
    margin-right: 10px;
    font-weight: 300;
}

/* feed- 수정, 삭제, 목록 btn */
.feed_btn{
    padding: 24px 0 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1%;
    border-top : solid 1px #ddd;
}

.feed_btn div {
    background-color: #ccc;
    border-radius: 5px;
    
}
.feed_btn div button {
    padding: 0.6rem 1.4rem;
    border-radius: 0.3rem;
    display: block;

}

.feed_btn div button:hover {
    background-color: #222;
    color: #fff;
}


/* 코멘트 영역 ========================= */
.feed_comment{
    background-color: #d1e8ee;
}

.comment_wrap {
    padding: 40px 20px;
}
.comment_wrap > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4%;   

}
.comment_wrap > div > div {
    display: flex;
    align-items: center;
}
.comment_wrap > div .co_profile{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.comment_wrap > div .co_text{
    width: 80%;
    height: 50px;
    border-radius: 10px;
}
.comment_wrap > div .co_text p {

    padding-left: 10px;
}
.comment_wrap > div .co_time {
    width: 10%;
    height: 50px;
    display: flex;
    align-items:flex-end;
    justify-content: flex-start;
}

.comment_wrap div > div{
    height: 20px;
    background-color: #ccc;
}