
/* 컨테이너 */
.container{
    width: 1200px; 
    margin: 0 auto;
    box-sizing: border-box;
}


/* 헤더 --------------------------------------------- */

#header{
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    background-color:var(--trans);
    z-index: 999; 
    }
    
    
    .navbar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
    
    }
    
    .navbar_logo{
    width: 12rem;
    }
    
    
    /* 네브바 메뉴 */
    .navbar_menu{
    display: flex;
    font-size: 0.8rem;
    }
    
    .navbar_menu li a{
    padding: 8px 24px;
    display: block;
    color: var(--black500);
    font-weight: 600;
    }
    .navbar_menu li a:hover{
    background-color: var(--pink300);
    border-radius: 20px;
    color: #fff;
    }
    .navbar_menu li:nth-child(even) a:hover{
        background-color: var(--blue300);
    }
    
    .navbar_icons{
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    text-align: center;
    
    }
    
    .navbar_icons li a {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    line-height: 0.5rem;
    }
    
    .navbar_icons li .login{
        color: var(--pink400);
    }
    .navbar_icons li .sign{
        color: var(--blue400);
    }
    
    .navbar_icons li .login:hover{
    background-color:var(--pink400);
    color: var(--white);
    }
    .navbar_icons li .sign:hover{
        background-color:var(--blue400);
        color: var(--white);
        }
    
    
    /* 햄버거 버튼 */
    .navbar_toggleBtn {
    position: absolute;
    right: 32px;
    font-size: 1.2rem;
    display: none;
    
    }
    
    
    
    /* 메인 - 스크롤 기능 넣기 */
    /* 메뉴 선택  */
    .menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    right: 2%;
    bottom: 7%;
    margin: 0 auto;
    border-radius: 40px;
    color: var(--white);
    padding: 1rem;
    }
    
    .menu > div {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 30px;
        text-align: center;
        padding: 3%;
        cursor:pointer;
    
    }
    .menu > div:nth-child(1){
        background-color: var(--blue400);
    }
    .menu > div:nth-child(1):hover{
        background-color: var(--blue500);
    }
    
    .menu > div:nth-child(2){
        background-color: var(--pink400);
        margin: 1rem 0;
    }
    .menu > div:nth-child(2):hover{
        background-color: var(--pink500);
        margin: 1rem 0;
    }
    
    .menu > div:nth-child(3){
        background-color: var(--green400);
    }
    .menu > div:nth-child(3):hover{
        background-color: var(--green500);
    }
    
    
    .menu > div i{
        line-height: 2.2rem;
        
    }

@media(max-width: 1220px){
    .container{width: 100%;}
    .row {padding: 0 15px;}
}

@media(max-width: 768px){
    .container{width: 100%;}
    .row {padding: 0 15px;}
    .cont_inner {height: 500px;}
    .cont_inner .cont1 {height: 100%;}
    .cont_inner .cont2 {height: 48%; margin-bottom: 2%;}
    .cont_inner .cont3 {height: 48%;}
}

@media(max-width: 480px){

}

@media screen and (max-width:768px){

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;

    }

    .navbar_logo {
        display: flex;
        align-items: flex-start;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_menu li a{
        padding: 8px 0;
        height: 100%;
        display: block;
    }
    .navbar_menu li a:hover{
        background-color: #222;
        border-radius:0;
        color: #fff;
    }

    /* 아이콘 영역  */
    .navbar_icons {
        width: 100%;
        height: 100%;
        text-align: center;
        flex-direction: column;
        display: none;
        /* justify-content: center;
        align-items: center; */
    }
    .navbar_icons li {
        width: 100%;
    }

    .navbar_icons li a {
        padding: 8px 0;
        display: block;
        height: 100%;

    }
    .navbar_icons li a:hover{
        background-color: #222;
        border-radius:0;
        color: #fff;
    }

    .navbar_toggleBtn {
        display: block;
    }

    /* active일때 */
    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    }

}





/* 푸터 ------------------------------------------------------------ */
#footer{
    background-color: var(--blue600);
}

.foot_inner{
    width: 100%;

}

/* 푸터 로고  */
.foot_logo{
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0 2rem ;
    opacity: 0.9;
}
.foot_logo div {
    margin: 0 auto;
    width: 10rem;
}
.foot_logo a{
    width: 100%;
    height: 100%;
    display: block;
}


/* 푸터 네비 */

.foot_nav ul{ 
    justify-content: center;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.foot_nav ul li {
    display: inline;
    padding: 0 20px;
   
}
.foot_nav ul li a {
    width: 100%;
    height: 100%;
    padding: 0.3rem 0;
    font-size:  14px;
    color: var(--blue200);
    font-weight: 600;
}
.foot_nav ul li a:hover{
    border-bottom:2px solid var(--pink300);
    color: var(--pink300);
}

.foot_nav hr{
    width: 28rem;
    margin: 0 auto;
    border: 0;
    height: 1px;
    background-color: var(--blue200);
    opacity: 0.8;
}

/* 푸터-아이콘 */
.foot_icon ul{
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1.9rem 0 3rem 0;

}
.foot_icon ul li{
    display: inline; 
    margin: 0 5px;  
}
.foot_icon ul li a{
    position: relative; 
    border-radius: 50%; 
    width: 40px; height: 40px; 
    color: var(--blue200);
    display: inline-block; 
    font-size: 20px; 
    line-height: 40px; 
    transition: all 0.3s ease;
}

.foot_icon ul li a span{
    position: absolute; 
    width: 200px;
    height: 20px;
    left: 50%; top: 42px; 
    transform: translateX(-50%); 
    font-size:  10px; 
    line-height: 1.6; 
    padding: 3px 9px; 
    border-radius: 6px 0; 
    transition: all 0.3s ease;
    color: var(--blue100);
    opacity: 0;
}
.foot_icon ul li a:hover span{
    opacity: 0.8;
}

.foot_icon li a span:before {}
.foot_icon li a:hover span {}
.foot_icon li a:hover {
    box-shadow: 
        /* 0 0 0 2px rgba(75,154,191,0.9) inset,  */
        0 0 0 2px var(--blue200) inset, 
        0 0 0 100px rgba(0,0,0,0.1) inset;
        opacity: 0.8;
}
