/* 공통------------------------------------ */
.d-none {
  display: none;
}

/* 배너영역 */
.banner{
  height: 5rem;
}

/* 공통------------------------------------ */

/* 태그 */
.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0 40px;
  box-sizing: border-box;
  border-bottom: solid 1px var(--blue200);
}

.tag > div {
  display: flex;
}

.tag_icon > div button{
  display: flex;
  align-items: center;
  padding: 0.8rem 2rem;
  margin-right: 0.6rem;
  background-color: var(--blue200);
  border-radius: 10px;
  color: var(--white);
}

.tag_icon > div button img {
  width: 1.2rem;
  margin-right: 0.2rem;
}
.tag_icon > div button p {
  font-size: 1rem;
  line-height: 1.2rem;
  text-shadow: 1px 1px 1px var(--black500);
}

/* 각 태그별 속성  */
.tag_icon > .tag1 button{
  background-color: var(--green400) ;
}
.tag_icon > .tag2 button{
  background-color: var(--pink400) ;
}
.tag_icon > .tag3 button{
  background-color: var(--blue400) ;
}
.tag_icon > .tag4 button{
  background-color: var(--yello400) ;
}
/* 각 태그별 오버  */
.tag_icon > .tag1 button:hover{
  background-color: var(--green500) ;
}
.tag_icon > .tag2 button:hover{
  background-color: var(--pink500) ;
}
.tag_icon > .tag3 button:hover{
  background-color: var(--blue500) ;
}
.tag_icon > .tag4 button:hover{
  background-color: var(--yello500) ;
}

.bt_wrap > button{
  padding: 0.8rem 2rem;
  border-radius: 0.8rem;
  border: 1px solid var(--blue400);
  color: var(--blue400);
  font-size: 1rem;
  font-weight: 600;
}
.bt_wrap > button i {
  margin-right: 0.2rem;
}

.bt_wrap > button:hover{
  background-color: var(--blue400);
  color: var(--white);
  border: 1px solid var(--blue400);
}

/* TOOLBAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 0 30px;
}

.view-options{
  display: flex;
  align-items: center;
}
.view-options li {
  margin-right: 0.7rem;
}

/* 툴바 버튼 */
.view-options button{
  text-align: center;
  font-size: 2rem;
  padding: 0.2rem;
  color: var(--blue300);

}

.view-options button:hover{
  font-size: 2rem;
  padding: 0.2rem;
  color: var(--blue400);

}

.view-options .active button{
  border-color: var(--blue400);
}

.search-wrapper {
  display: flex;
  align-items: center;
  color: var(--blue500);
}
.search-wrapper input {
  margin-right: 1rem;
  width: 24rem;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px var(--blue300);
  line-height: 2rem;
  color: var(--blue300);
}
.search-wrapper input::placeholder {
  color: var(--blue400);
}
.search-wrapper .counter{
  color: var(--pink400);
}



/* IMAGE LIST
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-list{
  margin-bottom: 3rem;
}

.image-list li{
  border: 1px solid var(--black200);
  color: var(--black500);
}
.image-list li:hover{
  border: 2px solid var(--pink300);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

.image-list li > a {
  width: 100%;
  height: 100%;
}

.image-list li figcaption {
  padding: 3%;
}

.image-list li figcaption .title p{
  font-size: 1.7rem;
}

.image-list li .emotion{
  font-weight: bold;
  font-size: 1rem;
}


.image-list li span{
  margin-top: 0.5rem;
  
}

.diary_info {
  color: #222;
  display: flex;
  gap: 3%;
}

.diary_info strong {
  color: #333;
}

/* 감정태그 출력 */
.emotion {}
.emotion button {
  display: flex;
  padding: 0.8rem 2rem;
  border-radius: 0.7rem;
  color: var(--white); 
  margin: 0.5rem 0;
}

.emotion button img {
  width: 1.2rem;
  margin-right: 0.2rem;
}
.emotion button p {
  font-size: 1rem;
  line-height: 1.2rem;
  text-shadow: 1px 1px 1px var(--black500);
}

/* 각 태그별 속성  */
.emotion .normal{
  background-color: var(--green400) ;
}
.emotion .happy{
  background-color: var(--pink400) ;
}
.emotion .sad{
  background-color: var(--blue400) ;
}
.emotion .angry{
  background-color: var(--yello400) ;
}



/* GRID VIEW
/* 그리드  */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-view{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--minRangeValue),1fr));
}
.grid-view li {
  position: relative;
}
.grid-view .fit {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.grid-view .fit img {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;

}



/* LIST VIEW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list-view li{
  margin-bottom : 1.5rem;
}
.list-view figure{
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 200px 1fr;
  align-items: center;
  overflow: hidden;
}
.list-view figcaption .emotion{
  width: 90px;
  text-align: center;
}

.list-view figure .fit{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.list-view figure .fit img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.on, .off{
  position: absolute;
  top: 10px;
  right: 10px;
  /* display: none; */
}

.off{
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 20px;
  opacity: 0.7;
  background-position: 0px 0px;
  width: 52px; height: 52px; 
  background: url(../icon/select_1.png) no-repeat;
}


.on{
  width: 52px;
  height: 52px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-position: 52px -52px;
  width: 52px; height: 52px; 
  background: url(../icon/select_2.png) no-repeat;
}

/* 결제버튼 */

.order {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.order a {
  padding: 2% 6%;
  border:1px solid var(--black300);
  color: var(--black00);
  border-radius: 14px;
  font-size: 1.1rem;
}
.order a:hover {
  border:1px solid var(--pink400);
  background-color:var(--pink400);
  color: #fff;
}
.order a i {
  margin-right: 0.5rem;
}




