/* MQ----------------------------------- */
@media (max-width: 1000px) {
    .board_wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .board_list .num,
    .board_list .category,
    .board_list .writer,
    .board_list .count {
        display: none;
    }
    

    .board_list .date {
        width: 40%;
    }

    .board_list .title {
        text-indent: 10px;
    }

    .board_list .top .title {
        text-indent: 0;
    }

    .board_page a {
        width: 26px;
        height: 26px;
    }

    .board_page a.bt {
        padding-top: 7px;
    }
    
    .board_page a.num,
    .board_page a.category{
        padding-top: 6px;
    }

    .board_view .info dl {
        width: 50%;
        padding: 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 1.2rem;
    }



/* board_write */


    .board_write .info dl {
        width: 49%;
    }

    .board_write .info dl:first-child {
        margin-right: 2%;
    }

    .board_write .title dt,
    .board_write .info dt {
        display: none;
    }

    .board_write .title dd,
    .board_write .info dd {
        width: 100%;
    }

    .board_write .title input[type="text"],
    .board_write .info input[type="text"],
    .board_write .info input[type="password"] {
        width: 100%;
    }
}


@media(max-width: 960px) {

    .board_title div {
        gap: 5%; /* flex의 주변 여분 의 공간 */
        width: 70%;
    }

	.board_title .tag_news{
		width: 70%
	}

}
@media(max-width: 768px) {

    .board_title div {
        gap: 5%; /* flex의 주변 여분 의 공간 */
        width: 80%;
    }

	.board_title .tag_news{
		width: 80%
	}

}

@media(max-width: 600px) {

    .board_title div {
        gap: 5%; /* flex의 주변 여분 의 공간 */
        width: 90%;
    }

	.board_title .tag_news{
		width: 90%
	}

}


@media(max-width: 480px) {

    .board_title div {
        display: flex;
        flex-direction: column;
        gap: 5%; /* flex의 주변 여분 의 공간 */
        width: 100%;
        margin-bottom: 1%;
    }
	.board_title .tag_news{
		width: 100%
	}

}

