
/* 공통------------------------------------ */

/* 배너영역 */
.banner{
	height: 20rem;
	background-color: var(--black300);
	}
	  
	body{
		font-weight: 400;
		color: var(--black600);
	}
	.board_wrap {
		width: 100%;
		padding: 50px 0;
	}
	
	.bt_wrap {
		margin-top: 30px;
		text-align: center;
		font-size: 0;
		overflow: hidden;
		display: flex;
		flex-direction: row-reverse;
		gap: 1%;
	}
	
	
	
	
	
	/* 보드 - 분류버튼 */
	.board_title div {
		display: flex;
		flex-direction: row;
		gap: 5%; /* flex의 주변 여분 의 공간 */
		width: 50%;
	}
	.board_title .tag_news{
		width: 40%
	}
	.board_title div.tag {
		margin : 20px 0;
	}
	.board_title div > div{
		width: 100%;
		height: 100%;
		text-align: center;
	}
	
	.board_title div > div > a {
		display: block;
		padding: 14px 6px;
		border-radius: 10px;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 1rem;
		font-weight: 900;
		background-color: var(--blue100);
		color: var(--blue400);
		border: 1px solid var(--blue200);
	}
	.board_title strong{
		color: var(--blue500);
	}
	
	.board_title div > div > a:hover{
		background-color: var(--blue400);
		color: var(--white);
	}
	
	/* 각게시판 on 주기 */
	.board_title .tag .free.on a{
		background-color: var(--blue400);
		color: var(--white);
	}
	.board_title .tag .info.on a{
		background-color: var(--blue400);
		color: var(--white);
	}
	.board_title .tag .trade.on a{
		background-color: var(--blue400);
		color: var(--white);
	}
	
	
	.board_title {
		margin-bottom: 30px;
	}
	
	.board_title strong {
		font-size: 40px;
	}
	
	.board_title p {
		padding: 10px 0;
		font-size: 1.2rem;
	}
	
	
	/* 보드 - 리스트(list) ======================= */
	
	.board_list .title a:hover {
		color: var(--pink300);
		font-weight: 700;
	}
	
	/* 게시판 - 라인 */
	.board_list > div {
		border-bottom: 1px var(--blue300);
		font-size: 0rem;
		background-color: var(--white);
	}
	
	.board_list > div.top {
		background-color: var(--blue300);
		color: var(--white);
	}
	
	
	/* 게시판 간격 */
	.board_list > div > div {
		display: inline-block;
		padding: 0.8rem 0;
		text-align: center;
		font-size: 18px;
		border-bottom: solid 1px var(--blue200);
	}
	
	.board_list > div.top > div {
		font-weight: 600;
	}
	
	.board_list .num {
		width: 10%;
	}
	
	.board_list .title {
		width: 60%;
		text-align: center;
	}
	.board_list .title a{
		color: var(--black600);
	}
	
	.board_list .top .title {
		text-align: center;
	}
	
	.board_list .writer {
		width: 10%;
	}
	
	.board_list .date {
		width: 10%;
	}
	
	.board_list .count {
		width: 10%;
	}
	
	/* 보드 - 넘버 */
	.board_page {
		margin-top: 30px;
		text-align: center;
		font-size: 0;
	}
	
	.board_page a {
		display: inline-block;
		margin: 0 3px;
	}
	
	/* 보드 - 버튼 */
	.board_page a.bt {
		text-align: center;
		padding: 0.8rem;
		font-size: 0.8rem;
		letter-spacing: -1px;
		background-color: var(--blue600);
		color: var(--white);
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		box-sizing: border-box;
		vertical-align: middle;
		position: relative;
	}
	.board_page a.bt i{
		position: absolute;
		top: 0.4rem;
		left: 0.4rem;
	}
	
	.board_page a:hover.bt {
		background-color: var(--blue400);
		color: #fff;
	}
	
	/* 보드- 버튼숫자 */
	.board_page a.num {
		padding-top: 9px;
		font-size: 0.8rem;
		width: 32px;
		height: 32px;
		box-sizing: border-box;
		vertical-align: middle;
		border-left: 0;
		line-height: 100%;
		background: var(--blue300);
		color: #fff;
		border-radius: 5px;
	}
	
	.board_page a:hover.num {
		background:var(--blue400);
		color: #fff;
	}
	
	.board_page a.num.on {
		background: var(--blue400);
		color: #fff;
	}
	
	/* board-Detail--------------------------------------- */
	.board_view {
		width: 100%;
	}
	
	.board_view .title {
		padding: 20px 15px;
		font-size: 1.5rem;
		background-color:var(--blue300);
		color:var(--white);
	}
	
	.board_view .info {
		padding: 15px;
		background-color:var(--blue200);
		font-size: 0;
	}
	
	.board_view .info dl {
		position: relative;
		display: inline-block;
		padding: 0 20px;
	}
	
	.board_view .info dl:first-child {
		padding-left: 0;
	}
	
	
	/* 바 */
	.board_view .info dl::before {
		content: "";
		position: absolute;
		top: 0.2rem;
		left: 0;
		display: block;
		width: 2px;
		height: 20px;
		background: var(--blue100);
	}
	
	.board_view .info dl:first-child::before {
		display: none;
	}
	
	.board_view .info dl dt, .board_view .info dl dd {
		display: inline-block;
		font-size: 1.4rem;
	}
	
	.board_view .info dl dt {
		
	}
	
	.board_view .info dl dd {
		margin-left: 10px;
		color: #777;
	}
	
	.board_view .cont {
		padding: 60px 20px;
		border-bottom: 1px solid var(--blue200);
		line-height: 160%;
		font-size: 1.2rem;
	}
	
	
	
	
	
	
	/* borderwrite / edit (글쓰기 / 수정) --------------------------------------------------- */
	.board_write {
		border-top: 2px solid var(--blue200);
	}
	
	.board_write .title, .board_write .info, .emotion{
		padding: 15px;
		color: var(--blue400);
	}
	
	.board_write .info, .emotion{
		border-top: 1px solid var(--blue200);
		font-size: 0;
	}
	
	.board_write .title dl {
		font-size: 0;
		display: flex;
	}
	
	.board_write .info dl {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
	}
	
	.board_write .title dt, 
	.board_write .title dd, 
	.board_write .info dt,
	.board_write .info dd,
	.board_write .emotion dt,
	.board_write .emotion dd
	 {
		display: inline-block;
		vertical-align: middle;
		font-size: 1.2rem;
	}
	
	
	.board_write .title dt, 
	.board_write .info dt,
	.board_write .emotion dt{
		width: 120px;
		text-align: left;
	}
	
	.board_write .title dd {
		width: calc(100% - 16%);
	}
	
	.board_write .title input[type="text"], .board_write .info input[type="text"],
	.board_write .info input[type="password"] {
		padding: 10px;
		box-sizing: border-box;
		border: 1px solid var(--blue300);
	}
	
	
	.board_write .title input[type="text"] {
		width: 100%;
		border: 1px solid var(--blue300);
	}
	
	.board_write .cont {
		border-bottom: 1px solid var(--blue200);
	}
	
	
	
	/* 글씨 입력창 */
	.board_write .cont textarea {
		display: block;
		width: 100%;
		height: 300px;
		padding: 15px;
		box-sizing: border-box;
		border: 0;
		resize: vertical;
		font-size: 1rem;
	}
	
	
	/* boardWrite 버튼  */
	.bt_wrap button {
	   padding: 1rem 4rem;
	   border-radius: 2px;
	   font-size: 1rem;
	   border-radius: 10px;
	}
	
	/* 에디트-리스트 각버튼에 컬러주기  */
	.bt_wrap button:nth-child(1) {
		border:1px solid var(--pink400);
		color: var(--pink500);
		margin-left: 0;
	}
	.bt_wrap button:nth-child(2){
		border:1px solid var(--green400);
		color: var(--green500);
	} 
	
	/* 에디트-리스트 각 버튼 마우스 오버  */
	.bt_wrap button:nth-child(1):hover {
		background-color:var(--pink400);
		color: var(--white);
	}
	.bt_wrap button:nth-child(2):hover{
		background-color: var(--green400);
		color: var(--white);
	} 
	
/* 다이어리 */
.board_write .title input[type="text"] {
	width: 100%;
}

.board_write .cont {
	border-bottom: 1px solid var(--blue200);
}

.board_write .emotion{
	display: flex;
	gap : 2%;
	border-bottom: 1px solid var(--blue200);

}
.board_write .emotion dl{
	width: 80%;
}


/*  파일선택 -> input태그 안먹고있음 왜그런지 모름 */
.board_write .emotion input[type="file"]{
	padding: 1rem 2rem;
}