
#header{
    position: sticky;
    background-color: white;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    color: #222;
}
#banner{background-color: #eee;}
#slider{}
#banner2{background-color: #eee;}
#content{}
#main{}


/* 헤더 ====================================== */

.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;

}

.navbar_logo{
    font-size: 1.4rem;
    color: #fff;
}

.navbar_logo i {
    color: aqua;
}

/* 네브바 메뉴 */
.navbar_menu{
    display: flex;
    font-size: 0.8rem;
    
}
 .navbar_menu li {
    
    
}

.navbar_menu li a{
    padding: 8px 24px;
    display: block;
}
.navbar_menu li a:hover{
    background-color: #222;
    border-radius: 20px;
    color: #fff;
}


.navbar_icons{
    display: flex;
    color: #fff;
    font-size: 1.4rem;
    justify-content: center;
    text-align: center;

}

.navbar_icons li a {
    padding: 8px;
    border-radius: 8px;
}
.navbar_icons li a:hover{
    background-color: #222;
    color: #fff;
}






/* 햄버거 버튼 */
.navbar_toggleBtn {
    position: absolute;
    right: 32px;
    font-size: 1.2rem;
    display: none;

}




/* 메인 - 스크롤 기능 넣기 */
/* 메뉴 선택  */

.menu{
    width: 300px; height:100px;
    position: fixed; 
    bottom: 50px;
    left : 50%;
    border-radius: 0 0 30px 30px;
    background-color:rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color : white;
  }
  .menu > span:hover {
    border-bottom: 3px solid white;
    cursor:pointer;
  }
  
  /* 콘엔츠영역 */
  .content{
    height: 100vmax;
    width: 100vmax;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  div:nth-child(2){background-color: coral}
  div:nth-child(3){background-color: violet}
  div:nth-child(4){background-color: teal}
  


/* 헤더 - MQ */

@media screen and (max-width:768px){

    #header{
        position: sticky;
        background-color: white;
        color: #222;
    }
    .navbar {
        padding: 3%;
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar_logo {
        display: flex;
        align-items: flex-start;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_menu li a{
        padding: 8px 0;
        height: 100%;
        display: block;
    }
    .navbar_menu li a:hover{
        background-color: #222;
        border-radius:0;
        color: #fff;
    }

    /* 아이콘 영역  */
    .navbar_icons {
        width: 100%;
        height: 100%;
        text-align: center;
        flex-direction: column;
        display: none;
        /* justify-content: center;
        align-items: center; */
    }
    .navbar_icons li {
        width: 100%;
    }

    .navbar_icons li a {
        padding: 8px 0;
        display: block;
        height: 100%;

    }
    .navbar_icons li a:hover{
        background-color: #222;
        border-radius:0;
        color: #fff;
    }

    .navbar_toggleBtn {
        display: block;
    }

    /* active일때 */
    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    }

}


/* 푸터 ======================================  */
.foot_inner{
    width: 100%;
    /* justify-items: center; */

}

/* 푸터 로고  */
.foot_logo{
    height: 100px;
    font-size: 30px;
    font-weight: 200px;
    line-height: 100px;
    text-transform: uppercase;
    background-color: #ccc;
    text-align: center;
}

/* 푸터 네비 */
.foot_nav{
}

.foot_nav ul{ 
    justify-content: center;
    text-align: center;
    background: #888;
    height: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.foot_nav ul li {
    display: inline;
    padding: 0 20px;
}
.foot_nav ul li a {
    font-size:  14px;
}
/* 푸터-아이콘 */
.foot_icon{}
.foot_icon ul{
    justify-content: center;
    text-align: center;
    background: #ccc;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 18px 0 32px 0;
}
.foot_icon ul li{
    display: inline; 
    margin: 0 5px;

}
.foot_icon ul li a{
    position: relative; 
    background-color: #ccc; 
    border-radius: 50%; 
    width: 40px; height: 40px; 
    color: #fff;
    display: inline-block; 
    font-size: 20px; 
    line-height: 40px; 
    transition: all 0.3s ease;
}

.foot_icon ul li a span{
    position: absolute; 
    width: 200px;
    height: 20px;
    left: 50%; top: 42px; 
    transform: translateX(-50%); 
    font-size:  10px; 
    line-height: 1.6; 
    padding: 3px 9px; 
    border-radius: 6px 0; 
    transition: all 0.3s ease;
    color: #fff;
    opacity: 0;
}
.foot_icon ul li a:hover span{
    opacity: 1;
}

.foot_icon li a span:before {}
.foot_icon li a:hover span {}
.foot_icon li a:hover {
    box-shadow: 
        0 0 0 2px rgba(75,154,191,0.9) inset, 
        0 0 0 100px rgba(0,0,0,0.1) inset;
}

/*

height: 70px;  
display: block;
background-color: #ccc;
display: flex; /* 가로로 정렬해주기 
align-items: center; 아이템의 세로의 정렬을 맞춰준다 
justify-content: space-between; 
양쪽의 간겨을 맞게 띄워준다 
padding: 0 20px;

*/



