/* 박스 사이징 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 여백 초기화 */
body,main, img, section,article, div, ul, li, dl, dd, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form, figure, figcaption {margin:0; padding:0;}

/* a 링크 초기화 */
a {color: #222; text-decoration: none;}
a:hover {color: #2698cb;}

/* 메인컬러는 400 */
:root {
    --pink100 : #FFF2F6;
    --pink200 : #FFE2EC;
    --pink300 : #FF9FBF;
    --pink400 : #FB3D7E; 
    --pink500 : #D12660;
    --pink600 : #6C3D4D;

    --blue100: #EFF5FF;
    --blue200: #C8DEFD;
    --blue300: #6BAAFA;
    --blue400: #2E88FE;
    --blue500: #0F53AF;
    --blue600: #112A4B;

    --green100: #F4FFF9;
    --green200: #D5FDE9;
    --green300: #55F7A6;
    --green400: #2BD982;
    --green500: #10AA5D;
    --green600: #06743D;
    --green600: #004A25;

    --yello100: #FFFAEF;
    --yello200: #FFF2D5;
    --yello300: #FFD374;
    --yello400: #FCCB27;
    --yello500: #FCA227;
    --yello600: #FD5A05;
    --yello700: #3B2620;

    --black100: #F2F2F2;
    --black200: #E8E8E8;
    --black300: #D3D3D3;
    --black400: #A8A8A8;
    --black500: #747373;
    --black600: #4D4D4D;
    --black700: #242424;

    --white: #fff;
    --trans:rgba(255, 255, 255, 0.7);

    --minRangeValue: 280px;


  }

  .d-none {
    display: none;
  }
  
/* 폰트 스타일 초기화 */
em, address {font-style: normal;}

/* 블릿기호 초기화 */
ul, li, ol {list-style: none;}

/* 제목 태그 초기화 */
h1, h2, h3, h4, h5, h6 {font-size: 13px; font-weight: normal;}

/* 버튼 초기화*/
button {border: 0;}

/* 반응형 이미지 */
img, video {width: 100%;}

/*반응형 이미지 */
img {
    width: 100%;
    height: auto;
    display: block;
}

button {
    cursor: pointer;
    background: none;
    }


/* font */
/* GothicA1 - 베이직 폰트 */
@font-face {
    font-family: 'GA';
    src:url(../fonts/GothicA1-Thin.ttf) format('truetype') 100,
        url(../fonts/GothicA1-ExtraLight.ttf) format('truetype') 200,
        url(../fonts/GothicA1-Light.ttf) format('truetype') 300,
        url(../fonts/GothicA1-Regular.ttf) format('truetype') 400,
        url(../fonts/GothicA1-Medium.ttf) format('truetype') 500,
        url(../fonts/GothicA1-SemiBold.ttf) format('truetype') 600,
        url(../fonts/GothicA1-Bold.ttf) format('truetype') 700,
        url(../fonts/GothicA1-ExtraBold.ttf) format('truetype') 800,
        url(../fonts/GothicA1-Black.ttf) format('truetype') 800;
}


/* Maple - 메인강조 폰트 */

@font-face {
    font-family: 'Maple100';
    src:url(../fonts/Maplestory\ Light.ttf) format('truetype');  
    }
@font-face {
    font-family: 'Maple200';
    src:url(../fonts/Maplestory\ Bold.ttf) format('truetype');  
    }



/* 양진폰트 - 강조 폰트 */
@font-face {
    font-family: 'YJ';
    src:url(../fonts/양진체v0.9_ttf.ttf) format('truetype');  
    }

body{
    font-family: 'GA';
    font-weight: 400;
    color: var(--black600);
}



/* clearfix */
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}

/* IR 효과 */
.ir_pm {display:block; overflow:hidden; font-size:0; line-height:0; text-indent:-9999px;} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height: 100%;} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_su {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;} /* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */

/* margin, padding */
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}


  


