/* 공통------------------------------------ */
.d-none {
    display: none;
  }
  
  /* 배너영역 */
  .banner{
    height: 5rem;
  }
  
  /* 공통------------------------------------ */
.shop {
    overflow: hidden; 
    padding: 7% 5% 10% 5%;
}


.shop h2 {
    font-size: 3rem;
    font-weight: 900;
    display: block;
    font-family: 'Maple200';
    margin-top: 2.4rem;
}
.shop_icon{
    width: 16rem;
    margin: 0 auto;
}

.shop .shop_diary {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    float: left; width: 48%; 
    height: 600px; 
    border-radius: 30px; 
    background:var(--pink100);
    color: var(--pink400);
    margin: 1%;
}

.shop .shop_photo {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    float: left; width: 48%; 
    height: 600px; 
    border-radius: 30px; 
    background:var(--blue100);
    color: var(--blue400);
    margin: 1%;
}

.shop .shop_diary:hover{
    border: 3px solid var(--pink300);
}
.shop .shop_photo:hover {
    border: 3px solid var(--blue300);
}

.shop .shop_diary a {
    width: 100%;
    height: 100%;
}


/* 버튼 디자이  */
.shop_diary .btn{
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    background-color: var(--pink400);
    width: 30%;
    margin: 2% 35%;
    height: 3.4rem;
    line-height: 3.4rem;
    display: block;
}
.shop_photo .btn {
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    background-color: var(--blue400);
    width: 30%;
    margin: 2% 35%;
    height: 3.4rem;
    line-height: 3.4rem;
    display: block;
}


.shop_diary .btn a, .shop_photo .btn a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 50px;
}
.shop_diary .btn:hover a{
    background-color: var(--pink500)
}

.shop_photo .btn:hover {
    background-color: var(--blue500)
}


/*  쇼핑 - 다이어리 ------------------------------------ */
.root {
    display: flex;
    padding: 16px 0;
}
.root > div {
    margin-right: 1%;
    font-size: 1rem;
    text-transform: uppercase;
}
.root > div a {
    color: #888;
    font-weight: 600;
}
.root >div a:hover {
    color: #ccc;
}

.root3 select{
    width: 100px;
    height: 100%;
    text-transform: uppercase;
    border: solid 1px #ddd;
    color: #666;
    padding: 2%;
    box-sizing: border-box;

}

/* 쇼핑- 오더 ------------------------------------*/
/* 상품 */
.prodcut_wrap {
    display: flex;
    gap: 5%;

}
/* 상품 - 왼-오 */
.prodcut_wrap > div{
    width: 50%;
}

.prodcut_wrap .p_left {
    padding: 1.2rem;
    height: auto;
}

.product1 img {
    object-fit: cover;
}



/* 오른쪽 ================================== */
.p_right {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

/* 오른쪽 - 상품로고 */
.p_right .p_logo {
    width: 100%;
    padding: 1.2rem 0;
    text-transform: uppercase;
    display: flex;
    gap: 1%;
    align-items: center;
    border-bottom: 1px solid var(--black300);
    
}
.p_right .p_logo img{
    width: 14rem;
}

/* 상품명 */
.title_wrap {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--black300);
}

.title_wrap .p_titl{
    display: flex;
    font-size: 2.3rem;
    align-items: center;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title_wrap .p_titl span{
    display: inline-block;
    background-color: var(--pink400);
    padding: 0.4rem 2rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    color: var(--white);
}

.title_wrap .country {
    width: 100%;
    display: block;
    font-size: 1.5rem;
    color: var(--black400);
    text-transform: uppercase;
    padding: 0.3rem 0;
}

/* rank */
.rank_wrap {
    display: flex;
    color: var(--yello400);
    font-size: 0.8rem;
    padding-bottom: 0.8rem ;
    
}

.rank_wrap .star {
    margin-right: 1%;
    letter-spacing: -0.5px;
}


.price_wrap .price1{
    font-size: 2rem;
    margin-right: 0.5rem;
}

.price_wrap .price2{
    font-size: 1.4rem;
    text-decoration:line-through;
    color: var(--black400);
}


/*  쿠폰  --------------------------------*/
.cupon_wrap{
    padding: 1.2rem 0;
}
.cupon1{
    width: 100%;
    padding: 1rem;
    display: flex;
    border: 1px solid var(--pink400);
    background-color: var(--pink100);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

.cupon1.other{
    border: 1px solid var(--blue300);
    background-color: var(--blue100);
}


.cupon1 span {
font-size: 1rem;
}
.cupon1 span strong {
color: var(--pink500);
font-weight: 900;
}

.cupon1.other span strong {
    color: var(--blue500);
    font-weight: 900;
    }

.cupon button{
background-color: var(--pink400);
padding: 5px 20px;
color: #fff;
border-radius: 5px;
}

/* 모달팝업 =====================*/
.background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.3);
z-index: 1000;

/* 숨기기 */
z-index: -1;
opacity: 0;
}

.show {
opacity: 1;
z-index: 1000;
transition: all .5s;
}

.window {
position: relative;
width: 100%;
height: 100%;

}

.popup {
padding: 20px;
border-radius: 20px;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #ffffff;
box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

/* 임시 지정 */
width: 400px;
height: 400px;

/* 초기에 약간 아래에 배치 */
transform: translate(-50%, -40%);
}

.show .popup {
transform: translate(-50%, -50%);
transition: all .5s;
}

.popup h2{
font-size: 2rem;
padding: 10px 0;
font-family: 'Maple200';
color: var(--pink400);
}
.popup span {
    font-size: 2rem;
    color: var(--blue400);
}
.popup p{
font-size: 1.2rem;
}
.popup img{
    width: 13rem;
    margin: 0 auto;
}
#close{
    margin: 1rem;
    padding:  0.6rem 1.2rem
}
#close:hover {
background-color: var(--blue400);
color: #fff;
}


/* 카운트  */
#count {
    display: flex;
    align-items: center;
    padding: 0.5rem 0 1.5rem;
    justify-content: space-between;
}

.count_wrap{
display: flex;
font-size: 1.3rem;
background-color: var(--white);
align-items: center;

}
.count_wrap input {
padding: 0.5rem 2rem;
font-size: 1.6rem;
border-style: none;
color: var(--black600);
}

#result {
    padding: 0 1rem;
}



/* 하트 공유 */
.keep{
    display: flex;

}

.keep div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--black100);
    border-radius: 100%;
    margin-right: 0.5rem;
    cursor: pointer;
}
.keep div:nth-child(1):hover{
    border: 2px solid var(--pink400);
    background-color: var(--pink100);
}
.keep div:nth-child(2):hover{
    border: 2px solid var(--blue400);
    background-color: var(--blue100);
}

.keep div:nth-child(1):hover i{
    color: var(--pink400);
}
.keep div:nth-child(2):hover i{
    color: var(--blue400);
}

.order {
    width: 100%;
    height: auto;

}
.order button{
    width: 100%;
    height: 3rem;
    background-color: var(--pink400);
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}
.order button:hover{
    background-color: var(--blue400);
}

/* 디테일 -> 목록 */

.detail_wrap{
    width: 100%;

}

.detail_wrap nav {
    margin-top: 5%;
    width: 100%;
    border-top:2px solid var(--blue200);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.detail_wrap nav button {
    font-size: 1.3rem;
    padding: 14px 20px;
    color: var(--blue400);
}
.detail_wrap nav button:first-child{
    border-right: 2px solid var(--blue200) ; 
}

.detail_wrap nav button:hover {
    background-color: var(--blue500);
    color: var(--white);
    border-right: none ;
}

/* detail - 배송  */
.detail_text{
    border-top:2px solid var(--blue200);
    padding: 4%;
}

.d_title{
    font-size: 2rem;
    padding-bottom: 1.3rem;
    color: var(--blue400);
}
.d_text ul li {
    padding-bottom: 1rem;
    line-height: 1.4rem;
}

.d_text ul li strong{
    font-size: 1rem;
    color: var(--pink300);
}

/* detail - 리뷰  */
.coment{
    display: flex;
    font-size: 1rem;
    align-items: center;
    background-color: #fff;
    padding: 2% 0;
    border-bottom: 1px solid #ddd ;
     
}

.coment img{
    width: 60px;
    height: 70px;
    background-color: #ccc;
    color: #fff;
    margin-right: 2%;
}
.coment .info{
    margin-right: 2%;
}

.coment .info p{
    font-size: 1.2rem;
}
.coment .info ul{
    display: flex;
    font-size: 0.8rem;
    color: rgb(255, 179, 0);
    letter-spacing: -1.6%;
}

.date{
    font-size: 0.8rem;
    color: #bbb;
    margin-left: 1%;
}
.delete {
    margin-left: 1%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 7px;
    border-radius: 3px;
}
.delete:hover {
    background-color: #222;
    color: #fff;
}

/* 댓글 작성 창 */
#comment{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    background-color: #fff;
    align-items: center;

}
#comment input{
    width: 88%;
    height: 40px;
}
#comment button {
    width: 10%;
    height: 40px;
    color: var(--pink400);
    background-color: var(--pink100);
    border: 1px solid var(--pink400);
}
#comment button:hover {
    background-color: var(--pink400);
    color: #fff;
}